@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="display-4">To Prolunteer</h2>
    <img src="~/images/sitewide/homepage.webp" style="width:800px"/>
</div>
