@model IEnumerable<Prolunteer.BusinessLogic.Implementation.Certification.Models.PendingCertificationViewModel>

@{
    ViewData["Title"] = "PendingCertifications";
}

@section Links{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css" />
}

<h1>PendingCertifications</h1>

<input id="search-input" type="text" value="" placeholder="Search..." />
<div id="pagination-display">
    <div class="paginationjs">
        <div class="paginationjs-pages"></div>
    </div>
    <div class="row">
        <div class="col-sm"><b>User</b></div>
        <div class="col-sm"><b>Requested Certification</b></div>
        <div class="col-sm-1"></div>
    </div>
    <div id="data-container"></div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    <script src="~/js/PageSpecificScripts/Certification/pendingcertifications.js"></script>
}