@using Prolunteer.BusinessLogic.Implementation.County.Models
@using Prolunteer.Common.DTOs
@model PaginationDTO<CountyViewModel>

@{
    ViewData["Title"] = "Counties";
}

@section Links{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.css" />
}

<h1>Counties</h1>

<p>
    <a asp-action="AddCounty" class="btn btn-success">Create New</a>
</p>

<input id="search-input" type="text" value="" placeholder="Search..."/>
<div id="pagination-display">
    <div class="row">
        <div class="col-sm">
            <b>Name</b>
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div id="data-container"></div>
</div>


@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paginationjs/2.1.5/pagination.min.js"></script>
    <script src="~/js/PageSpecificScripts/County/counties.js"></script>
}