@model Prolunteer.BusinessLogic.Implementation.Location.Models.LocationCreateModel

@{
    ViewData["Title"] = "AddLocation";
}

<h1>Add Location</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddLocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">County</label>
                <select class="form-control" id="CountyId">
                    <option disabled selected>Pick a county</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label">City</label>
                <select asp-for="CityId" class="form-control">
                    <option disabled selected>First pick a county</option>
                </select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/PageSpecificScripts/Location/addlocation.js"></script>
}
