<div>
    <h1>Seeding Dashboard</h1>
    <div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedUsers">Seed Users</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedCounties">Seed Counties</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedCities">Seed Cities</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedEventTypes">Seed Event Types</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedCertifications">Seed Certifications</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedUserCertifications">Seed User Certifications</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedEvents">Seed Events</a>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-4 offset-sm-4 text-center">
                <a class="w-75 btn btn-danger" asp-controller="Seeding" asp-action="SeedVolunteerParticipations">Seed Volunteer Participations</a>
            </div>
        </div>
    </div>
</div>